services:
  wordpress:
    container_name: wordpress
    build:
      context: wordpress
    env_file: .env
    networks:
      - inception
    expose:
      - "80"
    depends_on:
      mariadb:
        condition: service_healthy
    volumes:
      - wordpress:/var/www/html
    restart: always
    healthcheck:
      test: ["CMD", "wp", "core", "is-installed", "--path=/var/www/html", "--allow-root"]
      interval: 10s
      timeout: 5s
      retries: 10

  mariadb:
    container_name: mariadb
    build:
      context: mariadb
    env_file: .env
    networks:
      - inception
    expose:
      - "3306"
    volumes:
      - mariadb:/var/lib/mysql
    restart: always
    healthcheck:
      test: ["CMD", "mariadb-admin" ,"ping", "-h", "localhost", "-p${MYSQL_ROOT_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 20

  phpmyadmin:
    container_name: phpmyadmin
    image: phpmyadmin:apache
    env_file: .env
    environment:
      - PMA_HOST=mariadb
      - PMA_ABSOLUTE_URI=https://nlederge.42.fr/phpmyadmin/
    networks:
      - inception
    expose:
      - "80"
    restart: always
    depends_on:
      mariadb:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80"]
      interval: 10s
      timeout: 5s
      retries: 5

  nginx:
    container_name: nginx
    build:
      context: nginx
    env_file: .env
    networks:
      - inception
    ports:
      - "443:443"
    depends_on:
      wordpress:
        condition: service_healthy
      phpmyadmin:
        condition: service_healthy
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-fk", "https://localhost:443"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  mariadb:
  wordpress:

networks:
  inception:
    name: inception
