---
- name: create .env file for docker compose
  ansible.builtin.copy:
    dest: /home/{{ ansible_user }}/inception/.env
    content: |
      MYSQL_ROOT_PASSWORD={{ mysql_root_password }}
      MYSQL_USER={{ mysql_user }}
      MYSQL_PASSWORD={{ mysql_password }}
      MYSQL_DATABASE={{ mysql_database }}
      WORDPRESS_DB_HOST=mariadb:3306
      WORDPRESS_DB_USER={{ mysql_user }}
      WORDPRESS_DB_PASSWORD={{ mysql_password }}
      WORDPRESS_DB_NAME={{ mysql_database }}
      WORDPRESS_URL={{ wordpress_url }}
      WORDPRESS_TITLE={{ wordpress_title }}
      WORDPRESS_ADMIN_USER={{ wordpress_admin_user }}
      WORDPRESS_ADMIN_PWD={{ wordpress_admin_password }}
      WORDPRESS_ADMIN_EMAIL={{ wordpress_admin_email }}
      PMA_ABSOLUTE_URI={{ wordpress_url }}/phpmyadmin/
    mode: '0600'

- name: launch mariadb, wordpress & phpmyadmin
  community.docker.docker_compose_v2:
    project_src: /home/{{ ansible_user }}/inception
    services:
      - mariadb
      - wordpress
      - phpmyadmin
    build: always
    state: present